
.App-heading-wrapper {
  background-image: url('/background-test.svg');
  background-repeat: space;
  width: 1440px;
  height: 884px;

  .container {
    padding: 234px 0 0 190px;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 925px) {
      padding: 234px 0;
      align-items: center;
      width: 100vw;
    }
  }
}

.App-heading {
  font-family: Fieldwork-Geo-Bold;
  // padding: 234px 0 0 190px;
  font-size: 65px;
  line-height: 126%;
  width: 538px;

  letter-spacing: 1.08333px;
  color: #FFFFFF;
}

.App-subheading {
  margin-top: 33px;
  width: 612px;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 186%;

  letter-spacing: 0.466667px;

  color: #FFFFFF;

  @media only screen and (max-width: 925px) {
    width: 538px;
  }
}

.App-hero {
  position: absolute;
  top: 107px;
  left: 357px;
  height: 803px;
  width: 1178px;
  z-index: -99;
  background-image: url('/hero-image.svg');
  background-repeat: no-repeat;
  overflow: visible;
}

.App-hero-robot {
  position: absolute;
  top: 430px;
  // left: 1067px;
  right: 20px;
  height: 576px;
  width: 352px;
  background-image: url('/hero-robot.svg');
  z-index: 2;

  @media only screen and (max-width: 1260px) {
    left: 890px;
    right: unset;
  }

  @media only screen and (max-width: 719px) {
    background-image: url('/robot-mobile.svg');
    background-repeat: no-repeat;
    height: 231px;
    width: 141px;
    top: 544px;
    right: 20px;
    left: unset;
  }

  @media only screen and (max-width: 320px) {
    left: 178px;
  }
}

.App-mask {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  height: 884px;

  background: linear-gradient(29.1deg, #FFC5A4 5.8%, #FA6CBE 32.79%, #8E62FF 77.57%);
  mix-blend-mode: normal;
}

.App-features {
  position: relative;
  margin-top: 34px;
  padding-bottom: 314px;
  width: 100%;
  z-index: 1;
  // background-image: url('/bottom-back.svg');

  .container {
    position: relative;
    padding: 23px 185px 0px 185px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media only screen and (max-width: 1200px) {
      padding: 23px 60px 0 60px;
    }

    @media only screen and (max-width: 720px) {
      padding: 23px 21px 0 21px;
    }

    .heading {
      font-family: Fieldwork;
      font-size: 34px;
      line-height: 46px;
      width: 638px;
  
      text-align: center;
      letter-spacing: 1.42946px;
  
      color: #232D42;

      @media only screen and (max-width: 720px) {
        width: unset;
        font-size: 24px;
        font-style: normal;
        font-weight: bold;
        line-height: 36px;
        letter-spacing: 1.00903px;
      }
    }

    .features {
      display: flex;
      justify-content: space-between;
      margin-top: 63px;

      @media only screen and (max-width: 1200px) {
        // flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

  .bg-gradient {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(0deg, #D0E6FF 1.88%, #FFFFFF 100%);
    mix-blend-mode: normal;
    opacity: 0.1;
  }
}

.Feature-box {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 72px 104px rgba(22, 8, 41, 0.0794908);
  border-radius: 20px;

  margin-right: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 507px;
  width: 245px;

  @media only screen and (max-width: 1200px) {
    margin: 25px;
    height: 420px;
    width: 325px;
  }

  .title {
    font-family: Fieldwork-Geo-Bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.840859px;

    margin-top: 60px;
    color: #232D42;

    @media only screen and (max-width: 1200px) {
      margin-top: 20px;
    }
  }

  .icon {
    margin-top: 17.67px;
  }

  .description {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    margin: 25.19px 32px 0 32px;

    @media only screen and (max-width: 1200px) {
      margin-top: 0px;
    }


    text-align: center;
    letter-spacing: 0.939354px;
  }

  .feature-button {
    position: absolute;
    bottom: 28px;
    padding: 18px 44px;

    background: #6272FF;
    box-shadow: 0px 5px 10px rgba(53, 5, 176, 0.2);
    border-radius: 7px;
    border: none;
    outline: none;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #FFFFFF;

    &.disabled {
      text-transform: capitalize;
      background: #EBEFF5;
      mix-blend-mode: normal;
      box-shadow: none;
      color: #95AFD1;
    }
  }
}

// MOBILE

.App-head-mobile-wrapper {
  background-image: url('/background-mobile.svg');
  background-repeat: space;
  background-position: center;
  width: 100%;
  height: 733px;

  @media only screen and (max-width: 320px) {
    background-image: url('/background-mobile-2.svg');
  }

  .container {
    padding: 120px 60px 0 60px;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 630px) {
      padding: 120px 20px 0 20px;
    }

    .heading {
      font-family: Fieldwork;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 42px;
      /* or 131% */
      letter-spacing: 0.533333px;
      color: #FFFFFF;
    }

    .subheading {
      margin-top: 20px;
      font-family: Nunito Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 32px;
      /* or 178% */
      letter-spacing: 0.3px;
      color: #FFFFFF;
    }
  }
}

// OLD

.App-title {
  background-color: #ff5745;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  height: 410px;
  padding-right: 5px;
  padding-left: 5px;

  h1 {
    margin: 0 0 20px 0;
    color: #fff;
  }

  button.large-button {
    background-color: #2b2734;
  }

  input {
    border: none;
  }
}

.App-benefit-icon {
  margin-bottom: 20px; 
}

.App-title-subtitle {
  margin: 0 auto;
  h2 {
    color: #eee;
    font-size: 0.8em;
    font-weight: normal;
    margin-top: 0px;
    line-height: 140%;
  }
}

.App-get-started {
  margin-top: -10px;
}

.App-start-btn {
  @media only screen and (max-width: 500px) {
    width: 280px;
  }
}

.App-benefits-inner {
  margin: 0 auto;
  display: flex;
  max-width: 1050px;
  @media only screen and (max-width: 720px) {
    flex-direction: column;
  }
}

.App-how-it-works {
  border-top: solid 1px #eee;
}

.App-benefit {
  width: 33%;
  margin: 0 25px;
  line-height: 150%;
  font-size: 17px;
  @media only screen and (max-width: 720px) {
      width: 90%;
      margin: 0 auto;
  }
}

.App-benefit-title {
  font-weight: bold;
  font-size: 25px;
  color: #ff5745;
  margin-bottom: 21px;
  @media only screen and (max-width: 720px) {
    margin-bottom: 10px;
    text-align: center;
  }
}

.App-benefit-description {
  @media only screen and (max-width: 720px) {
    margin-bottom: 30px;
  }
}

.App-email-input {
  margin-right: 10px;
  margin-bottom: 20px;
  width: 250px;
  @media only screen and (max-width: 500px) {
    margin-right: 0px;
  }
}

section.App-image {
  padding-top: 0;
  margin-top: -125px;
  @media only screen and (min-width: 1600px) {
    margin-top: -70px;
  }
  @media only screen and (max-width: 1200px) {
    margin-top: -155px;
  }
  @media only screen and (max-width: 500px) {
    margin-top: -92px;
  }
}

.App-product-image {
  margin: 0 auto;
  display: inline-block;

  img {
    width: 71.5%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 50px 0 rgba(0, 0, 0, 0.3);
    @media only screen and (max-width: 500px) {
      width: 90%;
    }
  }
}

.App-bottom-signup {
  background-color: #ff5745;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0;

  .App-get-started {
    margin-top: 30px;
  }

  h2 {
    color: #fff;
    margin-bottom: 0;
  }

  button.large-button {
    background-color: #2b2734;
  }  

  input {
    border: none;
  }
}

