.App {
  text-align: center;
}

.App-title {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;

  h1 {
    margin-bottom: 20px;
  }
}

.App-title-subtitle {
  margin: 0 auto;
  h2 {
    color: #545760;
    font-size: 22px;
    font-weight: normal;
    margin-top: 0px;
  }
}

.App-get-started {
  margin-top: 40px;
}

.App-benefits-inner {
  margin: 0 auto;
  display: flex;
  max-width: 1050px;
}

.App-benefit {
  width: 33%;
  margin: 0 25px;
  line-height: 140%;
  font-size: 16px;
}

.App-benefit-title {
  font-weight: bold;
  font-size: 25px;
  color: #ff5745;
  margin-bottom: 15px;
}

.App-email-input {
  margin-right: 10px;
  width: 250px;
}

