.Home-wrapper {
    height: 100%;
}

.Home-inner {
    min-height: 78%;
}

.Footer {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 30px 0;
    margin: 0 30px;
    border-top: solid 1px #eee;
}

.Header {
    padding: 20px 30px;
    text-align: left;
}

.Header-logo {
    width: 180px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/switch-logo.png');
  }
  