.Home-wrapper {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  border-left: solid 1px #F2F2F2;
  border-right: solid 1px #F2F2F2;
  overflow-x: hidden;
}

.Home-inner {
  min-height: 78%;
  flex: 1 0 auto;
}

.Footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 83px;
  left: 150px;
  right: 150px;
  padding: 0 4em;

  a {
    color: #232D42;
  }

  @media only screen and (max-width: 880px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.Footer-copyright {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.283333px;

  color: #232D42;
  text-align: center;
}

.Footer-links {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.283333px;

  color: #232D42;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 880px) {
    margin-bottom: 25px;
    margin-right: 65px;
  }

  .link {
    margin-left: 43px;
  }
}

.Footer-mobile {
  position: absolute;
  bottom: 84px;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  text-align: left;
  line-height: 23px;
  letter-spacing: 0.283333px;
  color: #232D42;

  a {
    color: #232D42;
  }

  .list {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 0 20px;
  }

  .link {
    border-bottom: 0.5px solid #CACFD9;
    padding-bottom: 15.5px;
    margin-bottom: 25.5px;
  }

  .copyright {
    color: #8A99B7;
    margin-top: 35.5px;
  }
}


.Header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 46px 185px 0 185px;
  display: flex;
  justify-content: center;
}

.Header-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu-wrapper {
  display: flex;
  justify-content: space-evenly;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.283333px;
  color: white;

  .menu-item {
    padding: 0 45px;
    white-space: nowrap;
    margin-right: 0px;

    &:last-child {
      // margin-right: 0px;
    }
  }

  a {
    color: #fff;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}

.Login {
    font-size: 16px;
    @media only screen and (max-width: 500px) {
        display: none;
    }
}

.Header-logo {
  width: 190px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url('/logo.svg');
}
  
// MOBILE

.Header-mobile {
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 630px) {
    top: 20px;
    padding: 0 20px;
  }
}

.Header-hamburger {
  height: 24px;
  width: 24px;
  background-image: url("/hamburger.svg");
  cursor: pointer;
}

// Stripe Menu Overrides

.src__GridContainer-sc-178mgjs-0 {
  font-weight: bold;
}

.src__ContentGroupContainer-sc-178mgjs-6 {
  overflow: visible !important;
}

.src__MovingDiv-sc-178mgjs-4 {
  overflow: visible !important;
  border-radius: 20px !important;
  box-shadow: 0px 72px 104px rgba(22, 8, 41, 0.161631) !important;
  left: -155px !important;
  z-index: 999;
}