body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #545760;
}

h1 {
  font-size: 36px;
  color: #123466;
}

.large-button {
  background-color: #ff5745;
  padding: 15px 30px;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
