body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #545760;
}

section {
  margin: 70px 0;
}

a {
  color: #ff5745;
  text-decoration: none;
}

h1 {
  font-size: 45px;
  color: #123466;
}

h2 {
  font-size: 36px;
  color: #123466;
}

.button {
  outline: 0;
  background-color: #ff5745;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.large-button {
  padding: 15px 50px;
  font-weight: bold;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border: solid 1px #ccc;
  padding: 14px;
  outline: 0;
  border-radius: 4px;
}

input.large-input {
  font-size: 16px;
}

.section-inner {
  max-width: 65%;
}

section {
  h2 {
    margin-bottom: 50px;
  }
}